#header{
    height: 100vh;
}
.header{
    background: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 70px;
}
.logo{
    width: 20px;
}.menu{
     margin-top: 8px;
     text-align: center;
 }

.menu__item{
    margin: 0 18px;
}

.menu__item a{
    font-size: 16px;
    font-weight: lighter;
    color: white;
}
.offer{
    text-align: center;
}

.offer__title{
    font-size: 80px;
    margin-bottom: 20px;
    margin-top: 100px;
    letter-spacing: 11.5px;
}
.offer__text{
    font-size: 15px;
    line-height: 1.3em;
    width: 400px;
    margin: 0 auto;
}
.offer__button{
    margin-top: 40px;
    padding-bottom: 20px;
}

.offer__button a {
    padding: 15px 100px 15px 100px;
    background: #3333cc;
    font-size: 15px;
    color: white;
    border-radius: 30px;
    height: 50px;
}
/*.offer__button a:hover{
    text-decoration: none;
}*/

.offer__down a{
    color: white;
    font-size: 50px;
    transition: all 0.3s ease;
}
/*. offer__down a:hover{
    text-decoration: none;
    font-size: 60px;
}*/
@media screen and (max-width: 992px){
    .header{
        padding-top: 20px;
    }
    .logo{
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
    }

}

@media screen and (max-width: 768px){

    .offer__title{
        width: 100%;
        font-size: 40px;
    }
}

@media screen and (max-width: 425px){
    .menu__item a{
        font-size: 14px;
    }
    .offer__title{
        font-size: 27px;
    }
    .offer__text{
        width: 100%;
    }
}

