#info{
    height: 100vh;
}
.title{
    text-align: center;
    padding-top: 20px;
    color: #777777;
}

.title__main{
    font-size: 32px;
}

.title__text{
    margin: auto;
    padding-bottom: 20px;
    font-size: 17px;
    text-align: left;
    width: 410px;
}

.title__button{
    text-align: center;
}

.title__button a{
    color: #777777;
    padding: 15px 96px 15px 96px;
    background: #f2f6f8; /* Цвет фона */
    border: 1px solid; /* Параметры рамки */
    border-radius: 30px;
}

.iphone{
    display: block;
    margin: 155px auto 155px;
    width: 400px;
}

@media screen and (max-width: 1200px){
    .title__main{
        font-size: 32px;
    }
}

@media screen and (max-width: 768px){
    .title__main{
        font-size: 27px;
    }
    .title__text{
        text-align: center;
        margin: auto;
        padding-bottom: 20px;
    }
    .iphone{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 425px){

    .title__text{
        width: 100%;
        margin: 0;
    }
    .iphone{
        width: 100%;
    }
}
